html, body, div, span, h1, h2, h3, h4, p, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
canvas {
  background-color: rgba(0,0,0,1.0);
  z-index: 9000
}
#canvas {
  padding-left: 0;
  padding-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 445px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 700px;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  box-shadow: rgba(0,225,230, 0.35) 2px 1px 4px 4px;
  border: solid rgba(0,225,230, 0.95) 3px;
  cursor: n-resize;
}
#backCanvas {
  padding-left: 0;
  padding-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  position: fixed;
  background-color: rgba(0,0,0,1.0);
  margin-left: 0;
  margin-top: 0;
  z-index: 2
}
body {
  margin: 0;
}
p {
  font-family: "Courier";
  font-size: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255,255,255,1.0);
  text-shadow: rgba(0,225,230, 0.65) 2px 3px;
  text-shadow: rgba(255, 108, 87, 0.75) 1px 4px;
  text-align: center;
  z-index: 9000;
}
.instructions {
  margin-top: -450px;
}
.title {
  font-size: 30px;
  text-shadow: rgba(0,225,230, 0.85) 2px 4px;
}
