.title {
  font-family: "Courier";
  font-size: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255,255,255,1.0);
  text-shadow: rgba(0,225,230, 0.65) 2px 3px;
  text-shadow: rgba(255, 108, 87, 0.75) 1px 4px;
  text-align: center;
  z-index: 9000;
}
