canvas {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 2px #556B2F;
  z-index: 0
}

h1 {
  margin-top: 80px;
  font-size: 30px;
  color: orange;
  display: flex;
  justify-content: center;
}

.vertical-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instructions {
  height: 250px;
  width: 300px;
  margin-top: 30px;
  color: white;
  font-size: 25px;
  z-index: 0;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keys {
  display: flex;
  width: 150px;
  justify-content: space-around;
}

.key {
  background-color: lightgrey;
  height: 1.5em;
  width: 1.5em;
  color: black;
  border-left-width: 3px;
  border-right-width: 3px;
  border-radius: 3px;
  text-shadow: rgba(255, 108, 87, 0.75) 0px 0px;
  text-align: center;
}

.key:hover {
  background-color: darkgrey;
}

.margin-space {
  margin-top: 20px
}

.spacebar.key {
  width: 150px;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 700px;
}

.links {
  color: white;
}

.links i {
  color: orange;
  margin: 15px;
}

/*

.position-reletive {
  position: absolute;
}


.center-of-center {
  position: absolute;
  left: 0;
  right: 0;
}



.main {
  display: flex;
  justify-content: center;
}

.instructions {
  height: 250px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 25px;
  z-index: 1
}


.title {
  margin-top: 80px;
  font-size: 30px;
  color: orange;
  display: flex;
  justify-content: center;
  text-shadow: rgba(0, 220, 15, 0.85) 1px 2px;
}



*/
